@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* 2B4F5D : Charcoal
* 537D8D : Air force blue
* 4C706D : Hooker's green
* D2CFC4 : Timber wolf
*
* */

:root {
  --background: #F4F1EE;
  --background-dark: #A9C5D3;
  --foreground: #f7f3e9;
  --primary: #333333;
  --primary-dark: #333333;
  --secondary: #f7f3e9;
  --secondary-dark: #bab7ad;
  --attention: #4c706d;
  --surface: #f7f3e9;
  --surface-dark: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F1EE;
    --background-dark: #A9C5D3;
    --foreground: #f7f3e9;
    --primary: #333333;
    --primary-dark: #333333;
    --secondary: #f7f3e9;
    --secondary-dark: #bab7ad;
    --attention: #4c706d;
    --surface: #f7f3e9;
    --surface-dark: #e8e5dc;
  }
}

body {
  color: var(--primary);
  background: var(--background);
  font-family:
    Souviner,
}

@font-face {
  font-family: "Cooper Black Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Cooper Black Regular"),
    url("/fonts/COOPBL.woff") format("woff");
}

@font-face {
  font-family: "Souvenir";
  font-style: normal;
  font-weight: normal;
  src:
    local("Souvenir"),
    url("/fonts/Souvenir.woff") format("woff");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
